body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(31, 31, 31);
    background-color: rgba(229, 244, 255, 0.958);
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: darkslategray;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px; */
}
a:visited {
    color: rgb(4, 18, 97);
}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}

.homebg {background-image: url('../images/the-cleveland-museum-of-art-kxXMKeq_H-Y-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 160vh;
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 95, 169);

    /* border: 1px solid ; */
}

.box2 {
    padding: 5px;
}
/* Wouldn't normally use just the word box */

.box3 {
    margin: 50px;

}
/* Normally be more descriptive but for sake of practice we used the term "box" */